In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("NBA_2024_per_game.csv")
df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Joel Embiid,C,29,PHI,7,7,33.6,11.3,21.3,0.530,...,0.844,2.3,8.6,10.9,5.9,0.7,2.3,3.7,2.4,31.7
1,Devin Booker,SG,27,PHO,2,2,36.0,11.5,20.0,0.575,...,1.000,1.0,6.5,7.5,10.5,0.5,0.0,5.5,4.0,31.5
2,Luka Don?i?,PG,24,DAL,8,8,37.4,10.5,21.8,0.483,...,0.773,0.8,8.5,9.3,8.8,1.4,0.6,4.9,2.3,31.5
3,De'Aaron Fox,PG,26,SAC,3,3,35.3,11.3,23.3,0.486,...,0.810,1.0,3.3,4.3,6.0,1.3,0.7,2.7,4.0,31.3
4,Donovan Mitchell,SG,27,CLE,7,7,35.9,11.1,21.9,0.510,...,0.897,1.1,3.7,4.9,5.6,2.3,0.6,2.7,2.1,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Jericho Sims,C,25,NYK,3,0,3.0,0.0,0.3,0.000,...,NaN,0.3,1.3,1.7,0.3,0.0,0.0,0.0,0.0,0.0
457,Ish Smith,PG,35,CHO,2,0,6.5,0.0,0.0,NaN,...,NaN,0.0,0.5,0.5,0.0,0.5,0.0,1.5,1.5,0.0
458,Lindy Waters III,SG,26,OKC,3,0,1.3,0.0,0.3,0.000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
459,Jalen Wilson,PF,23,BRK,2,0,3.5,0.0,0.5,0.000,...,NaN,0.0,0.5,0.5,0.0,0.0,0.5,0.0,0.0,0.0
460,Thaddeus Young,PF,35,TOR,1,0,2.0,0.0,0.0,NaN,...,0.000,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

### **Punto 1**

In [8]:
df_ordened = df.sort_values(by='G', ascending=False)
df_ordened.head(10)
#[['Player', 'MP']].head(1)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
165,Reggie Jackson,PG,33,DEN,9,2,23.0,3.8,8.8,0.430,...,0.556,0.1,1.4,1.6,3.8,1.0,0.3,1.1,1.4,9.6
267,Peyton Watson,SG,21,DEN,9,0,15.7,2.3,4.1,0.568,...,0.500,0.3,1.8,2.1,0.7,0.7,1.1,0.7,1.2,5.4
29,Zach LaVine,SG,28,CHI,9,9,34.8,7.6,17.8,0.425,...,0.846,0.4,4.2,4.7,2.9,0.8,0.2,2.4,2.2,22.4
135,Ausar Thompson,SF,21,DET,9,9,31.8,4.4,11.1,0.400,...,0.818,4.1,5.6,9.7,3.7,1.3,1.8,2.1,3.6,11.3
37,DeMar DeRozan,SF,34,CHI,9,9,34.6,7.6,17.3,0.436,...,0.823,1.1,2.0,3.1,4.6,1.3,0.8,0.9,2.2,21.4
196,Dario ?ari?,PF,29,GSW,9,1,19.6,2.9,7.0,0.413,...,0.800,2.0,4.7,6.7,1.9,0.3,0.4,0.9,1.7,8.1
128,Coby White,SG,23,CHI,9,9,32.2,4.3,11.2,0.386,...,0.882,0.3,3.0,3.3,4.4,0.9,0.3,1.7,2.1,11.9
200,Jevon Carter,PG,28,CHI,9,0,15.1,3.0,6.0,0.500,...,0.000,0.1,0.6,0.7,1.1,0.6,0.3,0.9,1.0,7.8
201,Alex Caruso,PG,29,CHI,9,0,23.6,2.9,4.9,0.591,...,0.636,1.4,2.4,3.9,2.4,1.6,0.8,1.0,2.6,7.8
207,Christian Braun,SG,22,DEN,9,0,19.6,2.8,6.2,0.446,...,0.682,1.1,3.7,4.8,2.4,0.6,0.3,0.6,1.4,7.7

In [12]:
df_prueba = df[(df['G']*df['MP']) > 321.8]
df_prueba

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19,Cade Cunningham,PG,22,DET,9,9,35.9,8.9,21.3,0.417,...,0.857,0.4,3.2,3.7,7.1,0.7,0.2,5.4,3.1,24.0

### **Punto 2**

In [25]:
df[(df['Tm'] == 'CLE') & (df['Pos'] == 'PG')]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
66,Darius Garland,PG,24,CLE,4,4,32.5,6.0,12.8,0.471,...,0.9,0.5,1.5,2.0,6.8,1.5,0.5,6.0,2.5,17.0
290,Craig Porter Jr.,PG,23,CLE,3,0,12.3,2.0,4.3,0.462,...,1.0,0.3,1.3,1.7,1.0,1.0,0.3,1.0,2.0,4.7

### **Punto 3**

In [24]:
df_filter = [player for i, player in df.iterrows()
             if (player['STL'] > 1 and player['BLK'] > 1)]

a = []

for i in df_filter:
    a.append(i['Player'])

print(a)

['Scottie Barnes', 'Victor Wembanyama', 'Derrick White', 'Luguentz Dort', 'Aaron Gordon', 'Ausar Thompson', 'Herbert Jones', 'Robert Williams']

In [25]:
nicolas = df[(df['Player'])=="P.J. Tucker"]
nicolas

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
384,P.J. Tucker,PF,38,PHI,3,3,22.0,0.7,1.7,0.400,...,NaN,0.3,4.3,4.7,0.0,1.0,0.7,0.7,3.0,2.0
390,P.J. Tucker,SF-PF,38,TOT,6,3,19.8,0.5,1.8,0.273,...,1.0,1.7,2.7,4.3,0.5,0.8,0.5,0.3,2.8,1.8
393,P.J. Tucker,SF,38,LAC,3,0,17.7,0.3,2.0,0.167,...,1.0,3.0,1.0,4.0,1.0,0.7,0.3,0.0,2.7,1.7

### **Punto 4**

In [55]:
triples = df['3P%'].mean()*100
print(f"{triples:.2f}%")

31.87%

### **Punto 5**

In [58]:
duplicados = df[df.duplicated(subset=['Player'], keep=False)]
duplicados['Player'].unique()

array(['Nicolas Batum', 'KJ Martin', 'Robert Covington', 'P.J. Tucker'],
      dtype=object)